<div [appIsLoading]="loadingService.isLoading(this, LoadingIndicator.ASYNC_PIPE)">
    <h2>Please select a user to find their posts:</h2>

    <div class="table">
        <ul class="users" *ngIf="(users$|async) as users; else loading">
            <li *ngFor="let user of users" [class.selected]="user === selectedUser" (click)="onSelect(user)">
                <span class="badge">{{user.id}}</span> {{user.name | cleanseTitles | firstWord}}
            </li>
        </ul>
        <div *ngIf="(users$|async)?.length == 0">
            <p>No users found. Try reloading.</p>
        </div>
    </div>
    <ng-template #loading>
        <p>Waiting for Users...</p>
        <!--loading-component></loading-component-->
    </ng-template>

    <hr />

    <app-posts [user]="selectedUser"></app-posts>
</div>