<div *ngIf="user">
    <h2>Posts from {{user.name}}:</h2>
    <div class="table" *ngIf="(posts$| async) as posts; else loading">
        <ul class="posts">
            <li *ngFor="let post of posts">
                <div class="post-item-container">
                    <div class="table"><span class="post-title">{{post.title}}</span></div>
                    <div><span class="post-body">{{post.body}}</span></div>
                </div>
                <div class="comments-button-container">
                    <button (click)="onSelect(post)" >{{post === selectedPost?"-":"+"}}</button>
                </div>
                <div *ngIf="post === selectedPost">
                    <app-comments [post]="selectedPost"></app-comments>
                </div>
            </li>
        </ul>
        <div *ngIf="(posts$|async)?.length == 0">
            <p>This user has no posts yet.</p>
        </div>
        <div class="load-container">
            <button (click)="onLoadAll(user)">Load All</button>
        </div>
    </div>
    <ng-template #loading>
        <p>No posts...waiting for API</p>
        <!-- loading-component></loading-component -->
    </ng-template>
</div>