/* PostComponent's private CSS styles */

// Common styles
// https://css-tricks.com/centering-list-items-horizontally-slightly-trickier-than-you-might-think/ 
.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

.posts {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}
.posts li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 1em;
//   height: 1.8em;
  border-radius: 4px;
  display: block;
}

.posts .post-title {
    color: #405061;
    width: 100%;
    font-size: large;
    padding: .1em;
    display: inline-block;
}

.posts .post-title:first-letter {
    text-transform: capitalize;
}

.posts .post-body {
    display: table;
    color: gray;
    margin: 0 auto;
    width: 100%;
    min-height: 4em;
    font-size: medium;
    padding: .1em;
}

.posts .post-item-container {
  width:75%;
  min-height:2em;
  display:inline-block;
  margin:0 10;
}

.posts .post-body:first-letter {
    text-transform: capitalize;
}

.posts .comments-button-container {
  width:20%;
  display:inline-block;
}

.posts .comments-button-container button {
  width:4em;
  height:4em;
  float:right;
}

.load-container button {
  padding: 1em;
  color: white;
  background-color:#405061;
  border-radius: 10px;
  font-family: sans-serif;
  float:right;
  margin-right:6em;
}