<div *ngIf="post">
    <hr/>
    <h5>Comments</h5>
    <div *ngIf="(comments$| async) as comments; else loading">
        <ul class="comments">
            <li *ngFor="let comment of comments">
                    <h3 class="comment-name">{{comment.name}}</h3>
                    <h4 class="comment-email">{{comment.email}}</h4>                
                    <div class="comment-body">{{comment.body}}</div>                          
            </li>
        </ul>
    </div>
    <ng-template #loading>
        <p>No comments...waiting for API</p>
        <!-- loading-component></loading-component -->
    </ng-template>
</div>